
nav{
    color: #F5E7D3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1.5em 2em;
  z-index: 9;
}

.toggle-btn{
  display: flex;
  justify-content: flex-end;
}

.burger{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
}

.burger:before,
.burger:after{
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: #F5E7D3;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before{
  transform: translateY(-3px);
}
.burger:after{
  transform: translateY(3px);
}
.active.burger:before{
  transform: translateY(0) rotate(45deg);
}
.active.burger:after{
  transform: translateY(0) rotate(-45deg);
}

.overlay{
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color:  #260404;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: transform;
}
.overlay-menu{
  padding-top: 100px;
  font-family: "gabriola";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-nav{
  border-bottom: 2px solid #cdc6be3f;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1.5em 2em;
  color: #F5E7D3;
  background-color: #260404;
  /* mix-blend-mode: difference; */
  z-index: 2;
}


.overlay-nav .logo1{
  align-items: center;
}

.overlay-nav .logo1 a{
  text-decoration: none;
  font-size: 30px;
  color: #F5E7D3;
}
.overlay-nav .toggle-btn1{
  display: flex;
  justify-content: flex-end;
}

.overlay-nav .burger1{
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  background-color: #ffffff00;
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;

}

.overlay-nav .burger1:before,
.burger1:after{
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: #F5E7D3;
  transition: all 250ms ease-out;
  will-change: transform;
}
.overlay-nav .burger1:before {
  transform: translateY(0px) rotate(-45deg);
}
.overlay-nav .burger1:after {
  transform: translateY(0px) rotate(45deg); 
}
.overlay-nav .active.burger1:before {
  transform: translateY(-3px) rotate(0deg); 
}
.overlay-nav .active.burger1:after {
  transform: translateY(3px) rotate(0deg);
}

.text{
  text-decoration: none;
  overflow: hidden;
}
.text:hover .letter,
.text.play .letter{
  transform: translateY(-100%);
}
.text .block:last-child{
  color:#cc0000;
}
.text .letter{
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76,0,0.024,1);
}
.letter:nth-child(1)  { transition-delay: 0.03s; }
.letter:nth-child(2)  { transition-delay: 0.06s; }
.letter:nth-child(3)  { transition-delay: 0.09s; }
.letter:nth-child(4)  { transition-delay: 0.12s; }
.letter:nth-child(5)  { transition-delay: 0.15s; }
.letter:nth-child(6)  { transition-delay: 0.18s; }
.letter:nth-child(7)  { transition-delay: 0.21s; }
.letter:nth-child(8)  { transition-delay: 0.24s; }
.letter:nth-child(9)  { transition-delay: 0.27s; }
.letter:nth-child(10) { transition-delay: 0.30s; }
.letter:nth-child(11) { transition-delay: 0.33s; }
.letter:nth-child(12) { transition-delay: 0.36s; }
.letter:nth-child(13) { transition-delay: 0.39s; }
.letter:nth-child(14) { transition-delay: 0.42s; }
.letter:nth-child(15) { transition-delay: 0.45s; }
.letter:nth-child(16) { transition-delay: 0.48s; }
.letter:nth-child(17) { transition-delay: 0.51s; }
.letter:nth-child(18) { transition-delay: 0.54s; }
.letter:nth-child(19) { transition-delay: 0.57s; }
.letter:nth-child(20) { transition-delay: 0.60s; }
.letter:nth-child(21) { transition-delay: 0.63s; }
.letter:nth-child(22) { transition-delay: 0.66s; }
.letter:nth-child(23) { transition-delay: 0.69s; }
.letter:nth-child(24) { transition-delay: 0.72s; }
.letter:nth-child(25) { transition-delay: 0.75s; }
