@import "tailwindcss";
    @font-face {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('./fonts/fontsgabriola Font Download.woff') format('woff');
    }
body {
  cursor: url("../mouse1.png") 0 0, auto;
}
*{
  font-family: "Gabriola";
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: black;
}
*::-webkit-scrollbar {
  display: none;
  font-family: "gabriola";
}
.text-canvas {
  font-family: "gabriola";
}
.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.marquee-container {
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
#gradient {
  opacity: 0.15;
  mix-blend-mode: screen;
  /* filter: blur(20px);  */
  width: 100vw;
  height: 100vh;
}
